<%= semantic_form_for(@route_sheet) do |f| %>
  <% if @route_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route_sheet.errors.count, "error") %> prohibited this route_sheet from being saved:</h2>

      <ul>
      <% @route_sheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :out_date %><br />
    <%= f.input :out_date, Time.zone %>
  </div>
  <div class="field">
    <%= f.label :origin %><br />
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :sender %><br />
    <%= f.text_field :sender %>
  </div>
  <div class="field">
    <%= f.label :page_number %><br />
    <%= f.number_field :page_number %>
  </div>
  <div class="field">
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </div>

   <%= fields_for :destination do |g| %>
        <div class="field">
          "Destinatario"<br />
          <%= g.select :department_id, Department.all.collect{|d|[d.name,d.id]} %>
        </div>
        <div class="field">
          "Observaciones"<br />
          <%= g.text_field :observation %>
        </div>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
