= semantic_form_for(@route_sheet) do |f|
  - if @route_sheet.errors.any?
    #error_explanation
      %h2
        = pluralize(@route_sheet.errors.count, "error")
        prohibited this route_sheet from being saved:

      %ul
        - @route_sheet.errors.full_messages.each do |msg|
          %li
            = msg

  = f.inputs :name => "Datos Generales" do
    = f.input :out_date, :label => "Fecha de Ingreso :", :order => [:day, :month, :year], :include_blank => false
    = f.input :origin ,:label => "Origen :", :value => "introducir texto"
    = f.input :sender ,:label => "Remitente :"
    = f.input :page_number, :label => "Número de Pag :"
    = f.input :reference, :label => "Referencia :"


  = f.semantic_fields_for :destinations do |d|
    = d.inputs :name => "Destinatario" do
      = d.input :department, :as => :radio
      = d.input :observation

  = f.actions