<h1>Listing route_sheets</h1>

<table>
  <tr>
    <th>Out date</th>
    <th>Origin</th>
    <th>Sender</th>
    <th>Page number</th>
    <th>Reference</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @route_sheets.each do |route_sheet| %>
  <tr>
    <td><%= route_sheet.out_date %></td>
    <td><%= route_sheet.origin %></td>
    <td><%= route_sheet.sender %></td>
    <td><%= route_sheet.page_number %></td>
    <td><%= route_sheet.reference %></td>
    <td><%= link_to 'Show', route_sheet %></td>
    <td><%= link_to 'Edit', edit_route_sheet_path(route_sheet) %></td>
    <td><%= link_to 'Destroy', route_sheet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Route sheet', new_route_sheet_path %>
