
%table.tabla
  %tr
    %th FECHA DE SALIDA
    %th ORIGEN
    %th REMITENTE
    %th NUMERO DE PAGINAS
    %th REFERENCIA
    %th.opc OPCIONES



  - @route_sheets.each do |route_sheet|
    %tr.datos
      %td= route_sheet.out_date
      %td= route_sheet.origin
      %td= route_sheet.sender
      %td= route_sheet.page_number
      %td= route_sheet.reference
      %td= link_to 'Mostrar', route_sheet
      %td= link_to 'Editar', edit_route_sheet_path(route_sheet)
      %td= link_to 'Eliminar', route_sheet, confirm: 'Estas seguro?', method: :delete

%br

= link_to 'Nueva Hoja de Ruta', new_route_sheet_path
