<p id="notice"><%= notice %></p>

<p>
  <b>Out date:</b>
  <%= @route_sheet.out_date %>
</p>

<p>
  <b>Origin:</b>
  <%= @route_sheet.origin %>
</p>

<p>
  <b>Sender:</b>
  <%= @route_sheet.sender %>
</p>

<p>
  <b>Page number:</b>
  <%= @route_sheet.page_number %>
</p>

<p>
  <b>Reference:</b>
  <%= @route_sheet.reference %>
</p>


<%= link_to 'Edit', edit_route_sheet_path(@route_sheet) %> |
<%= link_to 'Back', route_sheets_path %>
